/* fond style */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* header style */
.header{
    background-color:rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 850px;
    margin: 0 auto;
}
.banner{
    padding: 50px 200px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 800px;
}
.banner >img{
    width: 635px;
    height: 800px;
}
.banner-title{
    margin-bottom: 32px ;
    font-size: 80px;
    font-weight: 750;
    color: #272727;
}
.banner-description{
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.60);
}
.button{
    padding: 20px 43px;
    background-color: #E55473 ;
    border-radius: 8px;
    color: #fff;
}
/* flower gallary design */

.featur-total{
    width: 1920px;
    margin: 0 auto;
}
.flower-featur{
    margin: 100px auto;
    text-align: center;
}
.flower-featur >h2{
    color: #272727;
    font-size: 40px;
}
.flower-featur >p{
    font-size: 18px;
}
.featur-gallary{
    display: flex;
    margin: 20px auto;
    justify-content: center;
    gap: 30px;
}
.tree-fig{
    padding: 0 200px;
    font-size: 24px;
    display: flex;
    margin: 20px auto;
    justify-content: space-around;
}
.box{
    width: 464px;
    height: 538px;
    /* border: 2px solid #E55473; */
    border-radius: 230px 230px 0px 0px ;
}
.a{
    background-color: rgba(167, 33, 98, 0.15);
}
.a >img{
    padding: 110px 74px 0px;
}
.b{
    background-color: rgba(5, 151, 160, 0.15);
}
.b >img{
    padding: 117px 47px 51px;
}
.c{
    background-color: rgba(71, 125, 17, 0.15);
}
.c >img{
    padding: 67px 75px 0px;
}
/* offer section */
.offer{
    display: flex;
    margin: 0 auto;
    padding: 50px;
    width: 1922px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    align-items: center;
    text-align: center;
    justify-content:center;
}
.offer-content{
    text-align: center;
    padding-right: 200px;
}
.offer >img{
    width: 318px;
    height: 420px;
}
.offer-heding{
    color: #272727;
    font-size: 40px;
}
.highlight{
    color: #E55473;
}
.offer-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 20px;
}
/* instagram section */
.instagram{
    width: 1920px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
.instagram >h2{
    color: #272727;
    font-size: 40px;
}
.instagram >p{
    color: rgba(39, 39, 39, 0.60);
    margin-top: 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.Instagram-photo{
    justify-content: space-around;
}
.Instagram-photo>img{
    width: 342px;
    height: 396px;
    padding: 0px 10px;
}
/* last deal bar */
.last-deal{
    width: 1440px;
    height: 449px;
    padding: 100px 0px ;
    background-image: url("Flower Asset/Rectangle9.png");
    margin: 128px auto;
    align-items: center;
    background-repeat: no-repeat;
}
.last-deal >h2{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.last-deal >p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.last-deal >input{
    width: 700px;
    height: 53px;
    border-radius: 8px;
    background: #FFF;
}
/* footer Design */

.footer-content{
    width: 1922px;
    height: 449px;
    padding: 175px;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    background-color: rgb(7, 3, 37);
}
.footer-heding{
    font-size: 48px;
    font-weight: 800;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}